.allBlockReviews {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.blockReviews {
  background: var(--background_content);
  box-shadow: 5px 5px 5px var(--shadow_content_block);
  margin: 6px;
  padding: 16px;
  border-radius: 16px;
  overflow: hidden;
}

.simpleCellReview {
  margin-left: -0px !important; // -16px
  padding-left: 0px !important;
  margin-right: -0px !important; // -6px
}

.textReview {
  margin-top: 6px;
}

.blockButtonReview {
  display: flex;
}

.buttonReview {
  display: flex;
  background: var(--placeholder_icon_background);
  border-radius: 16px;
  padding: 4px 8px;
  align-content: center;
  justify-content: center;
  align-items: center;
  color: var(--text_secondary);
  margin-right: 12px;
}

.buttonReviewRight {
  display: flex;
  margin-left: auto;
  background: #447bba20;
  border-radius: 16px;
  padding: 4px 8px;
  align-content: center;
  justify-content: center;
  align-items: center;
  color: var(--accent);
}

.countButton {
  margin-left: 4px;
}

.tabs {
  margin: 0px 16px;
  border-radius: 16px;
  background-color: var(--background_content);
  box-shadow: 5px 5px 5px var(--shadow_content_block);
  overflow: hidden;
  padding: 6px 6px;
}

.actionDestructive {
  color: var(--destructive);
}

.textButtonHelped {
  margin-left: 8px;
}

.topUpCard {
  display: block;
  animation: topUpCard 1s infinite alternate;
  background: var(--background_content);
  box-shadow: 5px 5px 5px var(--shadow_content_block);
  margin: 6px 6px 18px 6px;
  padding: 16px;
  border-radius: 16px;
  overflow: hidden;
}

@keyframes topUpCard {
  from {
    box-shadow: 0 0 5px 1px rgba(215, 240, 255, 0.8);
  }
  to {
    box-shadow: 0 0 9px 2px rgba(215, 240, 255, 0.8);
  }
}
