.blockAdd {
  border-radius: 16px;
  background-color: var(--background_content);
  box-shadow: 5px 5px 5px var(--shadow_content_block);
  overflow: hidden;
  padding: 24px;
  margin: 0px 16px 16px 16px;
}

.title {
  font-size: 22px;
  text-align: center;
}

.descriptions {
  font-size: 18px;
  margin-top: 12px;
  text-align: center;
}

.footer {
  text-align: center;
  margin-top: 12px;
}