.blockAdd {
  margin: 64px;
}

.title {
  font-size: 22px;
  text-align: center;
}

.descriptions {
  font-size: 18px;
  margin-top: 12px;
  text-align: center;
}

.footer {
  text-align: center;
  margin-top: 12px;
}