.splitCol {
  background: var(--background_content);
  border-radius: var(--vkui--size_border_radius_paper--regular);
  -webkit-box-shadow: var(--page-block-shadow);
  box-shadow: var(--page-block-shadow);
  margin: 8px;
}

.menuDesktop {
  background-color: var(--background_content_block);
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 5px 5px 5px var(--shadow_content_block);
  margin-bottom: 12px;
}

.vkuiSimpleCell:hover {
  border-radius: 16px !important;
}

.activeViewCell {
  background-color: var(--button_secondary_background);
}
